#calendar2 {

    width: 322px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 1px 6px 12px #ccc;

}
.nice-date-picker-header{
    width:100%;
    height:40px;
    font-size:0;
    position:relative;
}
.nice-date-picker-header span,.nice-date-picker-header a{
    display:inline-block;
    height:40px;
    line-height:40px;
}
.nice-date-picker-header .prev-date-btn,.next-date-btn{
    font-size:18px;
    width:40px;
    text-align:center;
    color:#fff;
    text-decoration: none;
}
.nice-date-picker-header .prev-date-btn{
    color: #000;
    font-family: "NunitoSans-Black" !important;
    display: inline-block;
}
.nice-date-picker-header .next-date-btn{
    color: #000;
    font-family: "NunitoSans-Black" !important;
    display: inline-block;
}
.nice-date-title { 
    font-size: 14px;
    color: #000;
    text-align: center;
    font-family: "NunitoSans-Black" !important;

}
.nice-date-picker-body{
    width:100%;
}
.nice-date-picker-body tr{
    width:100%;
    height:40px;
}
.nice-date-picker-body tr th{
    width:46px;
    height:40px;
    color: #727272;
    line-height:40px;
    text-align:center;
    font-weight:100;
}
.nice-date-picker-body tr td{
    width:46px;
    height:40px;
    color:#000;
    line-height:40px;
    text-align:center;
}
.nice-date-picker-body tr .nice-gray{
   opacity:.3;
}
.nice-date-picker-body tr .nice-normal{
    cursor:pointer;
}
.nice-date-picker-body tr .nice-current{
    background: #D12B8A;
    border-radius: 50%;
    color: #fff;
}
.nice-date-picker-body tr .nice-active {

    background: #D12B8A;
    border-radius: 50%;
    color: #fff;

}