.date-txt {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

.data__date span{
    display: inline;
    vertical-align: middle;
}

.btn-events {
    border: none;
    background-color: #19C2EA;
    color: #fff;
    border-radius: 4px;
    padding: 3px 5px 3px 5px;
}

.btn-news {
    border: none;
    background-color: #70489D;
    color: #fff;
    border-radius: 4px;
    padding: 3px 5px 3px 5px;
}

.share__btn {
    background-color: transparent;
    border: 1px solid #707070;
    padding: 4px 10px 4px 16px;
    border-radius: 15px;
    color: #444;
    font-size: 14px;
    position: relative;
    cursor: pointer;
}

.share__btn::before {
    content: '';
    background-image: url(../images/share_icon.svg);
    position: absolute;
    left: 4px;
    top: 9px;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
}

.news_title_zain img {
    width: 100%;
}

.news__detail__cards {
    border-top: 2px solid #D12B8A;
    padding: 16px;
}

.heading-cards {
    position: relative;
}

.heading-cards p {
    margin: 0 auto;
    text-align: center;
    width: 60%;
    color: #727272;
}

.view_news_anchor.text-dark {
    position: absolute;
    right: 0;
    top: 20px;
    color: #000;
    font-weight: 700;
}

.custom-card-hr {
    position: relative;
}

.card-img-hr {
    background-color: #000;
    border-radius: 10px;
}

.card-img-hr img {
    opacity: 0.5;
}

.btn-sports {
    border: none;
    background-color: #D12B8A;
    color: #fff;
    border-radius: 4px;
    padding: 3px 5px;
}

.card__btn__group {
    position: absolute;
    top: 2px;
    right: 2px;
}

.share__btn__2 {
    background-color: transparent;
    border: 2px solid #fff;
    padding: 2px 15px 2px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 14px;
    position: relative;
    cursor: pointer;
}

.share__btn__2::before {
    content: '';
    background-image: url(../images/share_icon_white.svg);
    position: absolute;
    left: 4px;
    top: 7px;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
}

.text-card-hrhr {
    position: absolute;
    top: 30%;
    left: 4%;
}

.btn__pink {
    background: #D12B8A;
    color: #fff;
    margin-top: 8px;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
    cursor: pointer;
}

.custom__margin {
    margin-top: 40px;
}

.parent_flex_item {
    display: flex;
}

.img_zain_brand {
    width: 10%;
}

.img_zain_brand img {
    width: 100%;
    border-radius: 10px;
}

.text_content_news_listing {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 10px;
    width: 90%;
    border-bottom: 1px solid #cacaca;
    padding: 20px 0;
}

.flex_box_row {
    display: flex;
    justify-content: space-between;
}

.pagination__custom.mt-3 {
    display: flex;
    justify-content: center;
}

.pagination_custom_hrhr li a {
    border: 0 !important;
}
.custom_arrow_right a {
    background-color: gray !important;
    margin: 0px 10px;
    color: #fff !important;
    border-radius: 30px !important;
    line-height: 1.6 !imporant;
    background: #ee9dab !important;
    padding: 8px 10px 8px 10px !important;
}

.custom_arrow_right_1 a {
    background-color: gray !important;
    margin: 0px 4px;
    color: #fff !important;
    border-radius: 30px !important;
    background: #ee9dab !important;
    padding: 8px 10px 8px 10px !important;
}

.pagination__link a {
    color: #727272 !important;
}


@media only screen and (max-width: 900px) {
    .card-img-hr {
    background-color: #000;
    border-radius: 19px;
}
} 